body{
    margin: 0;
    background: #000;
    font-family: 'Roboto', sans-serif;
}
/* ====Styling Header==== */
header{
    height: 50px;
    border-bottom: 1.5px solid #fff;
}
/* ====Styling Main==== */
main{
    margin: 0;
    text-align: center;
    height: 90vh;
}
main h1{
    font-size: 48px;

    color: #fff;
    padding-top: 100px;
}
main a img{
    width: 480px;
    height: 270px;
    margin-top: 50px;
}
main div{
    margin: 0;
    display: inline-block;
    margin-right: 20px;
}
main p{
    margin: 0;
    padding-top: 100px;
    font-size: 24px;
    color: #fff;
}
/* ====Styling Footer==== */
footer{
    color:#fff;
    border-top: 1.5px solid #fff;
    text-align: center;
}
footer p span{
    color:aquamarine;
}